<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Tourism Platform</display-name>

  <!-- Servlet Configuration -->


  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.IT24100514.User.tourism.Servlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DeleteTravelerServlet</servlet-name>
    <servlet-class>com.User.Servlet.DeleteTravelerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleteTravelerServlet</servlet-name>
    <url-pattern>/DeleteTravelerServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.User.Servlet.LogoutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChangeEmailServlet</servlet-name>
    <servlet-class>com.User.Servlet.ChangeEmailServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ChangeEmailServlet</servlet-name>
    <url-pattern>/ChangeEmailServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.User.Servlet.ChangePasswordServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ChangeUsernameServlet</servlet-name>
    <servlet-class>com.User.Servlet.ChangeUsernameServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ChangeUsernameServlet</servlet-name>
    <url-pattern>/ChangeUsernameServlet</url-pattern>
  </servlet-mapping>






  <!-- URL Mapping -->
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>

  <!-- Welcome Page -->
  <welcome-file-list>
    <welcome-file>User/index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
